.earningswrapper {
  background-image: linear-gradient(to right, #df89b5 50%, #940d4c 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 10px;
  margin: 5px;
  font-weight: bold;
  padding-top: 1px;
}

.earningscontainer {
  height: 450px;
  overflow-y: scroll;
}

.whatsapp,
.cashback,
.spin,
.invest,
.academic,
.deposit,
.accountbal,
.total {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.whatsapp,
.cashback {
  height: 150px;
}

.spin,
.invest,
.academic,
.deposit,
.accountbal,
.total {
  height: 120px;
}

.earningsinfo,
.whatsapp,
.cashback,
.spin,
.invest,
.academic,
.deposit,
.accountbal,
.total {
  border-radius: 10px;
  margin: 10px 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.whatsapptop,
.cashbacktop,
.spintop,
.investtop,
.academictop,
.deposittop,
.accounttop,
.totaltop {
  display: flex;
  align-items: center;
}

.whatsappicon,
.cashbackicon,
.spinicon,
.investicon,
.academicicon,
.depositicon,
.accounticon,
.totalicon {
  color: #53ff88;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(11, 175, 52, 0.719);
  margin-right: 5px;
}

.earningsinfo {
  font-size: 14px;
  font-weight: 500;
  background-image: linear-gradient(450deg, #940d4cea, #d19cb862),
    url("/src/assets/images/Pups.png");
  padding: 5px;
  text-align: center;
}

.earningsinfo h4 {
  text-align: center;
  text-decoration: underline;
}

.earningsinfo i {
  color: #53ff88;
}

.earningswrapper p {
  color: black;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  box-shadow: rgba(33, 35, 38, 0.5) 0px 10px 10px -10px;
}

/* Whatsapp */
.whatsapp {
  background-image: linear-gradient(to right, #2b282b 0%, #fae25b 100%);
}

/* Cashback */
.cashback {
  background-image: linear-gradient(120deg, #940d4c 0%, #fda085 100%);
}

/* Spining */
.spin {
  background-image: linear-gradient(450deg, #56042a, #e6b56c);
}

/* Investing */
.invest {
  background-image: linear-gradient(to left, #940d4c 0%, #e14fad 100%);
}

/* Academic */
.academic {
  background-image: linear-gradient(90deg, #d39d4d 0%, #2c282c 100%);
}

/* Deposit */
.deposit {
  background-image: linear-gradient(240deg, #940d4c 0%, #fda085 100%);
}

/* Total */
.total {
  background-image: linear-gradient(to right, #940d4c 0%, #e14fad 100%);
}

/* Account Bal */
.accountbal {
  background-image: linear-gradient(-225deg, #2a1d58 0%, #cc4170 100%);
}
