.homewrapper {
  /* padding: 5px; */
}

/* .home {
    margin: 5rem 0 0 0;
  }
  
  .header {
    background-color: #9d2e34;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }
  
  .units {
    margin-top: 1rem;
  }
  
  .unit {
    display: flex;
    font-size: large;
    margin: 3rem;
  }
  
  .unit .download {
    cursor: pointer;
    color: #9d2e34;
    margin-left: 5px;
  }
  
  .search {
    display: flex;
    margin: 3rem;
    padding: 1rem 10rem 1rem 0.5rem;
    border-radius: 10px;
  }
  
  .loginlink {
    color: white;
    text-decoration: none;
  }
   */
