.homewrapper .homehr {
  border-top: 1px;
  margin: 5px auto;
  width: 98%;
}

.homewrapper .homefooter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}
