.loginwrapper {
  width: 90%;
  position: relative;
  top: 4rem;
  margin: auto;
  height: 100vh;
  color: white;
}

.header img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.login {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0 0;
}

.login input,
.login button {
  margin: 0 0 2rem 0;
  padding: 1rem 5px;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: transparent;
  outline: none;
  color: white;
}

.login button {
  border: none;
  font-size: 15px;
  background-color: #940d4c;
  color: white;
  font-weight: bold;
}

.login .link {
  color: grey;
  text-decoration: none;
}

.login i {
  cursor: pointer;
  position: absolute;
  top: 39.5%;
  z-index: 2;
  right: 7%;
  color: green;
}
