.recharge_wrapper {
  height: 100vh;
}

.recharge {
  color: white;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.recharge input {
  padding: 10px 5px;
  border-radius: 10px;
  margin: 10px 0px;
  border: 2px solid;
  border-color: greenyellow;
  background-color: rgb(255, 255, 255, 0.5);
}

.recharge input:focus {
  outline: none;
}

.recharge button {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  background-color: #940d4c;
  font-weight: bold;
  color: white;
  border: none;
}

.recharge_messages {
  background-image: linear-gradient(to left, #df89b5 50%, #940d4c 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
  font-size: large;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  margin: 5px;
  height: 50vh;
}

.recharge_messages .recharge_messages_container {
  overflow-y: scroll;
}

.recharge_messages_top {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.transaction_details {
  color: black !important;
}
