.signupwrapper {
  width: 90%;
  position: relative;
  top: 4rem;
  margin: auto;
  height: 100vh;
  color: white;
}

.signup {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0 0;
}

.signup input,
.signup button {
  margin: 0 0 2rem 0;
  padding: 1rem 5px;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: transparent;
  outline: none;
  color: white;
}

.signup button {
  border: none;
  font-size: 15px;
  background-color: #940d4c;
  color: white;
  font-weight: bold;
}

.signup .link {
  color: grey;
  text-decoration: none;
}

.signup i {
  cursor: pointer;
  position: absolute;
  bottom: 27.5%;
  z-index: 2;
  right: 7%;
  color: green;
}
