.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logininfo {
  display: flex;
  font-size: 15px;
  justify-content: space-around;
  margin-bottom: 10px;
}

.welcome {
  padding: 3rem 1rem;
  align-items: center;
  background-image: linear-gradient(to right, #ca3493 0%, #7736cc 100%);
}

.package {
  background-image: linear-gradient(to left, #ca3493 0%, #7736cc 100%);
}

.transactions {
  background-image: linear-gradient(to left, #df89b5 50%, #940d4c 100%);
  height: 150px;
}

.referal {
  background-image: linear-gradient(to right, #df89b5 50%, #940d4c 100%);
}

.package,
.transactions,
.referal {
  flex-direction: column !important;
}

.referal,
.transactions {
  padding: 1rem;
}

.welcome,
.package,
.transactions,
.referal {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  font-size: large;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  margin: 5px;
}

.package .membership {
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 1rem 5px;
  border-radius: 10px;
  font-size: 13px;
  color: black;
}

.package .membership .membershipicon {
  color: #53ff88;
  font-size: 22px;
}

.package .upgradebtn {
  cursor: pointer;
  padding: 10px;
  background-color: #940d4c;
  margin: 1rem 5px;
  border-radius: 10px;
  font-size: 13px;
  text-decoration: none;
}

.package :any-link {
  text-decoration: none;
  color: white;
}

.package .upgradebtn .upgradeicon {
  color: #53ff88;
  font-size: 22px;
}

.package .membership,
.upgradebtn {
  display: flex;
  align-items: center;
  width: 150px;
}

.welcome .welcomeicon {
  color: yellow;
}

.package p {
  margin: 5px;
}

.referaltop,
.transactionstop {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.transactions i {
  font-size: 12px;
}

.referal .referallink input {
  font-size: 11px;
  width: 220px;
  background-color: #ccc;
  white-space: nowrap;
  border-radius: 10px;
  padding: 20px 10px;
  outline: none;
  border: none;
}

.referal .referallink,
.referal button {
  display: flex;
  align-items: center;
}

.referal .referallink button {
  background-color: #940d4c;
  margin-left: -95px;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  border: none;
}
